.contact-container {
    display: flex;
    justify-content: center;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 3rem;
    height: 100px;
   
}
