header {
    margin: 0 auto;
}

header>div {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.logo-wrapper {
    cursor: pointer; 
}

.nav-bar {
    display: none;
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;
    margin: auto;
}

.nav-bar>ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

@media only screen and (min-width: 770px) {
    header {
        margin: 0 auto;
        width: 90vw;
    }
    
    header>div {
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
    }

    .logo-wrapper {
        margin-right: 2rem;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        gap: 1rem;
        transition: 0.5s;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 900px) {
    header {
        margin: 0 auto;
        width: 90vw;
    }

    header>div {
        justify-content: space-around;
        align-items: center; 
        gap: 4rem;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        gap: 1rem;
        transition: 0.5s;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    header {
        display: flex;
        justify-content: center;
        width: 900px;
    }
    header>div {
        justify-content: space-around;
        align-items: center; 
        gap: 4rem;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 1.1rem;
        transition: 0.5s;
    }
}