.mainSlider {
    margin-top: 2rem;
    width: 98vw;
    margin: 0 auto;
    height: 30vh;
}

.sliderWrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    gap: 0.5rem; 
}

.sliderLeft, .sliderRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
    position: relative;
}

.sliderRight {
justify-content: flex-end;
}

.leftArrow, .rightArrow {
    display: flex;
    align-items: center;
   
}

.leftArrow:hover, .rightArrow:hover {
    background-color: rgba(255, 255, 255, 0.274);
}

.rightArrow {
    justify-content: flex-end;
}


@media only screen and (min-width: 450px) {
    .mainSlider {
        height: 40vh;
    }
}
@media only screen and (min-width: 550px) {
    .mainSlider {
        height: 50vh;
    }
}
@media only screen and (min-width: 700px) {
    .mainSlider {
        height: 60vh;
    }
}
@media only screen and (min-width: 770px) {
    .mainSlider {
        height: 70vh;
        width: 90vw;
    }
}
@media only screen and (min-width: 850px) {
    .mainSlider {
        height: 80vh;
        width: 90vw;
    }
}
@media only screen and (min-width: 850px) {
    .mainSlider {
        height: 80vh;
    }
}
@media only screen and (min-width: 850px) {
    .mainSlider {
        height: 70vh;
        width: 800px;
        
    }
}